
     <%- include('includes/header.ejs') %>
<div class="myMainDiv">
  
     <div class="container-fluid">
        <div class="container-fluid add-balance">
          
            <h1>Your Balance : <div class="wallet-area"><%= curBalance %></div></h1>
                 
      
         
            <a href="#" class="add-btn" >Add Money</a>
        </div>
        <div class=" container-fluid popup">
<div class="popup-content-div"> 
    <img class="close" src="/images/close.png" alt="">

    <form action="/add-money" method="POST" class="addMoneyForm row g-3 popp-content">
        <div class="col-md-6">
          <label for="balance" class="form-label">Balance</label>
          <input name="balance" type="number" class="form-control" id="inputEmail4">
        </div>
        <!-- <div class="col-md-6">
          <label for="comment" class="form-label">Category</label>
          <input name="comment" type="text" class="form-control" id="inputPassword4">
        </div>
       
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Notes</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div> -->
   
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Add Money</button>
        </div>
      </form>
 </div> 

        </div>
      

        <div class=" container-fluid expense-popup">
<div class="popup-content-div"> 
    <img class="closeExp" src="/images/close.png" alt="">
<h3>Add Your Expense!</h3>
    <form action="/add-expense" method="POST" class="addMoneyForm row g-3 popp-content">
        <div class="col-md-6">
          <label for="amountSpent" class="form-label">Amount</label>
          <input name="amountSpent" type="number" class="form-control" required id="inputEmail4">
        </div>
        <div class="col-md-6">
          <label for="item" class="form-label">Item</label>
          <input name="item" type="text" class="form-control" required id="inputPassword4">
        </div>
       
        <div class="col-md-6">
          <label for="purchaseDate" class="form-label">Purchase Date</label>
          <input name="purchaseDate" type="date" class="form-control" required id="inputPurchaseDate">
        </div>
       
        <div class="col-12">
          <label for="notes" class="form-label">Notes</label>
          <input type="text" name="notes" class="form-control" id="notes" placeholder="Any type of extra note goes here.">
        </div>

        <div class="col-12">
          <label for="notes" class="form-label">Personal</label>

         <input type="checkbox" id="vehicle1" name="personalExp" value="Personal">
        </div>
   
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Add Expense</button>
        </div>
      </form>
 </div> 
        </div>

        
      
<h6 class="title">Unpaid Expenses</h6>
<% if(!expenses.length){ %>
  <div class="expenses-showall">
    <p>Click on the add button below</p>
  </div>
     <% } %>

  <% expenses.forEach((expense)=>{ %>
    <div class="expenses">
      <div class="child-left">
       <p><%=expense.item%></p>
        <p><%= expense.purchaseDate.getDate()  %>/<%=expense.purchaseDate.getMonth()+1 %>/<%= expense.purchaseDate.getFullYear() %></p>
      <p><%= expense.notes %></p>
      <% if(expense.expType == "Personal"){ %>
      <form class="deleteExpense" method="post" action="/delete">
        <button type="submit" name="DeletionId" class="delete-btn" value="<%=expense._id%>"><i class="fa-solid fa-trash-can"></i></button> 
          </form>  
        <%}%>
      <a href="/edit/<%=expense._id%>" id="edit-exp-btn"><i class="fa-solid fa-marker"></i></a>
    </div>
<!-- <p>Amount: <%=expense.amount%> | Item:  | Purchase Date: </p>
<p>Notes : <%=expense.notes%> </p> -->
<div class="child-right">
 <p> ₹<%=expense.amount%></p>
 <p style="color:rgb(255, 188, 5); text-decoration: underline"><strong><em><%=expense.expType%></em></strong></p>
 <% if(expense.expType == null){ %>
<form action="/paid" method="POST">
<button type="submit" class="inner-btn" name="_id" value="<%= expense._id%>">Reimburse</button>
</form>
 
<% } else {%>
  <form action="/paid" method="POST">
    <button type="submit" class="inner-btn personalExp-btn" name="_id" value="<%= expense._id%>">Reimburse</button>
    </form>
 <%} %>
</div>
</div>

  <% })%>


  
  <% if(expenses.length){ %>
<div class="expenses-showall ">
  <a href="/all-expenses">Show All</a>
</div>
   <% } %>
        <div class="add-expense-area">
      <a class="add-expense-btn" href="#">+</a>
        </div>
      </div>
    </div>

      <!-- <script src="https://kit.fontawesome.com/d0e519250d.js" crossorigin="anonymous"></script> -->
     
   <script src ="/main-bundled.js"></script>
   <%-include('includes/footer') %>

 